html{
    height: 100%;
    font-family: 'Fredoka', sans-serif;
    font-family: 'Playfair Display', serif;
}
body{
    height: 100%;
    background-color: #0C0C0C;
}
.all{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.bigbox{
    display: flex;
    width: 50%;
}
.text{
    color: white;
    font-size: larger;
}
.text2{
    color: rgb(107, 107, 107);
}
.button{
    color: rgb(107, 107, 107);
    transition: 0.3s;
    cursor: pointer;
}
.button:hover{
    color: rgb(56, 56, 56);
    transition: 0.3s;
}
.box3{
    margin: 3%;
}
