html{
    height: 100%;
    font-family: 'Fredoka', sans-serif;
}
body{
    height: 100%;
    background-color: #0C0C0C;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bigbox{
    display: flex;
    height: 30%;
    width: 50%;
}
.text{
    
    color: white;
    font-size: larger;
}
.text2{
    color: rgb(107, 107, 107);
}
.animatedText{
    color: rgb(107, 107, 107);
    transition: 0.3s;
    cursor: pointer;
}
.animatedText:hover{
    color: rgb(56, 56, 56);
    transition: 0.3s;
}
.box1{
    margin: 3%;
}
.box3{
    margin: 3%;
}
